.comics_main {
    height: 375px;
    background-image: url("/../img/jumbotron.jpg");
    background-size:cover;
    position: relative;
    
}

.comics_list {
    width: 100%;
    background-color: #1c1c1c;
    position: absolute;
    top: 100%;

    .card_comic{
        
        .img_comic{
           
             img{
                 
                 
                }
        }

        h6{
            font-size: 0.9rem;
            text-transform: uppercase;
            color: white;
        }
    }
}