.comics_main {
    height: 375px;
    background-image: url("/../img/jumbotron.jpg");
    background-size: cover;
    position: relative;
}

.comics_list {
    width: 100%;
    background-color: #1c1c1c;
    position: absolute;
    top: 100%;

    .card_comic {
        .img_comic {
            width: 100%;
            height: 160px;
            overflow: hidden;
        }
        p { 
            padding-top: 10px;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: white;
        }
    }
    .pos_rel_container{
        position: relative;
        .row{
            margin: 3rem 0 3.3rem 0;
        }
        .button_top{
            color: white;
            font-weight: 800;
            font-size: 1.3rem;
            text-align: center;
            position: absolute;
            bottom: 96%;
            right: 75%;
            padding: 10px 40px;
            width: 330px;
            background-color: #0282F9;
        }
        .button_a_bottom{
            position: absolute;
            left: 50%;
            bottom:5%;
            transform: translateX(-50%);
            text-decoration: none;
            color: white;
            font-weight: 800;
            font-size: 1rem;
            text-align: center;
            padding: 10px 30px;
            width: 250px;
            background-color: #0282F9;
            cursor: pointer;
        }
    }

}

.single_comic {
    width: 100%;
    height: 100px;
    background-color: #0282F9;
    position: relative;
    top: 100%;

    .card_comic {
        position: absolute;
        left: 24%;
        bottom: 0%;
    
        p { 
            padding-top: 10px;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: white;
        }
    }
}