.comics_main {
    height: 375px;
    background-image: url("/../img/jumbotron.jpg");
    background-size: cover;
    position: relative;
}

.comics_list {
    width: 100%;
    background-color: #1c1c1c;
    position: absolute;
    top: 100%;

    .card_comic {
        .img_comic {
            width: 100%;
            height: 160px;
            overflow: hidden;
        }
        p { 
            padding-top: 10px;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: white;
        }
    }
}

.single_comic {
    width: 100%;
    height: 100px;
    background-color: #0282F9;
    position: relative;
    top: 100%;

    .card_comic {
        position: absolute;
        left: 24%;
        bottom: 0%;
    
        p { 
            padding-top: 10px;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: white;
        }
    }
}